---
layout: default
---

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="{% if page.title %}page-heading{% else %}site-heading{% endif %}">
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
    <hr class="small">
    <span class="subheading">{{ page.description }}</span>
  </div>
</header>

<main class="{% if page.wide %}container container--wide{% else %}container{% endif %}">
  {{ content }}
</main>

<hr>
